@model int 

<div class="row">
    <div class="col">
        <div typeof="submit" class="btn btn-primary form-control" asp-route-id="@Model">Update</div>
    </div>
    <div class="col">
        <a asp-action="Index" class="btn btn-success form-control">Back To List</a>
    </div>
</div>


